<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/index.css" />
  </head>

  <body>
    <header>
      <nav>
        <div class="logo">
          <h4>SCRUMBAGS</h4>
        </div>
        <ul class="nav-links">
          <h4 id="current-year">Year: 2005</h4>
          <h4 id="current-category">Category: Best Picture</h4>
        </ul>
      </nav>
    </header>
    <container class="search-results">
      <section class="winner">
        <div id="winner-img" class="winner-img">
          <img src="https://m.media-amazon.com/images/M/MV5BOTk1OTA1MjIyNV5BMl5BanBnXkFtZTcwODQxMTkyMQ@@._V1_SX300.jpg">
        </div>
        <div class="winner-banner">And the winner is...!</div>
      </section>

      <section class="nominees">
        <div id="top" class="top">
          <img src="https://m.media-amazon.com/images/M/MV5BMTY5NTAzNTc1NF5BMl5BanBnXkFtZTYwNDY4MDc3._V1_SX300.jpg">
          <img src="https://m.media-amazon.com/images/M/MV5BMTczMzU0MjM1MV5BMl5BanBnXkFtZTcwMjczNzgyNA@@._V1_SX300.jpg">
          <img src="https://m.media-amazon.com/images/M/MV5BMTY0NzQ2NDg2Ml5BMl5BanBnXkFtZTYwMzcwOTY2._V1_SX300.jpg">
          <img src="https://m.media-amazon.com/images/M/MV5BMTcwNzYzMzMwMF5BMl5BanBnXkFtZTcwMzMzODczMQ@@._V1_SX300.jpg">
        </div>
        <div class="search-fields">
          <form method="POST" id="search-params">
            <label for="year">Year:</label><br />
            <input type="text" id="year" name="year" /><br />
            <label for="category">Category:</label><br />
            <input type="text" id="category" name="category" /><br />
            <input type="submit" value="Submit" />
          </form>
        </div>
      </section>
    </container>
    <script type="text/javascript" src="js/search.js"></script>
  </body>
</html>
